{% extends "base.html" %}
{% block content %}
<h2>Answer to: {{ problem.title }}</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div>
        <label for="id_answer_text">解答 (Markdown):</label><br>
        {{ form.answer_text }}
    </div>

    <div>
        <label for="id_explanation">解説 (任意, Markdown):</label><br>
        {{ form.explanation }}
    </div>

    <div class="form-group">
        <label for="id_purposes">投稿の目的（必須）:</label>
        {{ form.purposes }}
        {% if form.purposes.errors %}
          <div class="text-danger">{{ form.purposes.errors }}</div>
        {% endif %}
      </div>

    <button type="submit">Submit Answer</button>
</form>

<p><a href="{% url 'problems:detail' problem.id %}">問題に戻る</a></p>
{% endblock %}